@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    background: url("media/cool-background.png");
    font-family: "poppins";
    text-align: center;
}